{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>About Us</h1>
<p>

Africa Smart Investments – Distribution ( ASI-D) offers innovative products combining high technology with affordable prices. We have won the trust of domestic and international markets because with technical assistance guaranteed at various points of the country, the user experiences high technology and innovation from the moment when the product is turned on. This translates our commitment with quality, now at hand!

</p>
<p>This is about us. This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.</p>
<p>This is about us. This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.</p>
</div>

</div>


{% endblock %}